body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.container {
  max-width: 1100px; /* ajustável */
  max-height: 600px;
  margin: 50px auto;
  padding: 0 20px;
}


.site-title {
  color: #aa66f3;
  font-size: 30px;
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  text-align: center;
}

.linha {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.sidebar {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  width: 285px;
  height: 530px;
  flex-shrink: 0;
  text-align: center;

}

.sidebar .gcf-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #aa66f3;
}

.meu-nome {
  color: #aa66f3;
  margin-top: 10px;
  font-size: 25px;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.contato {
  color: #ced4da;
  font-size: 25px;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  padding-top: 20px;
}


.mini-bio, .localizacao, .sidebar p {
  font-size: 14px;
  margin: 6px 0;
  line-height: 1.6;
  color: #d3d3d3;
  font-weight: normal;
  text-align: left;
}

.icones-redes {
  margin-top: 70px;
}

.icone-link {
  color: #aa66f3;
  text-decoration: none;
  margin: 6px 0;
  transition: color 0.2s;
}

.icone-link:hover {
  color: #48cae4;
}

.quadrado-maior {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  position: relative; /* necessário para posicionar o botão */
}

.article-title {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #ced4da;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sobre-mim p {
  line-height: 1.6;
  font-size: 15px;
  color: #d3d3d3;
  font-weight: bold;
}

.retangulo-unico {
  margin-top: 20px;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
}

.botoes-retangulo {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.botao-projeto {
  background-color: #aa66f3;
  color: #1e1e1e;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.botao-projeto:hover {
  background-color: #86e3ff;
}

.skills-box {
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 16px;
  padding: 24px;
  max-width: 300px;
  margin: 40px auto;
  margin-left: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.skills-title {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  color: #ced4da;
  margin-top: 5px;
  margin-bottom: 16px;
  font-weight: 900;
  letter-spacing: 1px;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
}

.skills-list li {
  display: flex;
  align-items: left;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #ccc;

}

.skills-list img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.ticker {
  font-size: 14px;
  margin-right: 8px;
  color: #eee;
}

.value {
  font-size: 13px;
  font-weight: bold;
}

.value.up {
  color: #48e16e;
}

.value.down {
  color: #ff5f5f;
}

